:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text);
  background-color: var(--crust);
  user-select: none;
}

* {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

body {
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  margin: 0.5em;
  padding: 0;
}

main {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  border-radius: 0.5em;
  background-color: var(--mantle);
  padding: 0.5em;
}

#title div {
  display: flex;
  width: 10em;
  height: 3em;
}

#title img {
  width: 2em;
  height: 2em;
  margin: 4px;
  cursor: pointer;
  z-index: 100;
  filter: drop-shadow(2px 2px 1px black);
}

h2 {
  text-align: center;
  margin: auto;
  width: 100%;
}

#title p {
  width: auto;
  height: auto;
  margin: 4px 4px auto auto;
  color: var(--surface2);
}

#paths {
  border-radius: 0.5em;
  background-color: var(--surface0);
  padding: 0.25em 0.5em;
  margin: 0 1em;
}

#paths label {
  display: inline-block;
  width: 4em;
  height: 3em;
  color: var(--text);
  font-weight: bold;
  text-align: center;
  align-content: center;
}

#paths input {
  font-family: monospace;
  display: inline-block;
  width: calc(100% - 6em);
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--subtext0);
  background: var(--base);
  border: 1px solid var(--overlay0);
}

#paths input::placeholder {
  color: var(--overlay0);
}

#parameters {
  border-radius: 0.5em;
  background-color: var(--surface0);
  padding: 1em;
  margin: 1em;
}

#parameters div.row {
  gap: 2em;
  font-weight: bold;
}

#parameters div.col {
  width: 20%;
  text-align: center;
  margin: auto;
}

#parameters select {
  background: var(--base);
  border: 1px solid var(--overlay0);
  color: var(--subtext1);
  padding: 4px;
  border-radius: 4px;
  font-family: monospace;
  outline: none;
}

#settings-panel {
  background-color: var(--surface0);
  position: absolute;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  padding: 1em;
  left: 0%;
  top: -100%;
  margin: 0;
  transition: ease 0.2s;
}

#settings-panel.enable {
  top: 0%;
}

#settings-panel>form {
  width: 80%;
  height: 60%;
  margin: auto;
  background-color: var(--base);
  border-radius: 1em;
  padding: 2em;
}
