:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text);
  background-color: var(--base);
}

* {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

body {
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  margin: 0.5em;
  padding: 0;
}

main {
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  border-radius: 0.5em;
  background-color: var(--surface0);
  padding: 0.5em;
}

#title div {
  display: flex;
  width: 10em;
  height: 4em;
}

#title img {
  width: 2em;
  height: 2em;
  margin: auto auto auto 1em;
}

#title h2 {
  text-align: center;
  margin: auto;
  width: 100%;
}

#title p {
  width: auto;
  height: auto;
  margin: 4px 4px auto auto;
}
